langgraph 
langchain-openai 
langchain-ollama 
langchain-community 
duckduckgo-search 
faiss-cpu 
pdfplumber 
markitdown 
pandas 
openpyxl 
bs4 
ollama 
ddgs 
deep-translator
streamlit
dotenv
pypdf
langchain-huggingface 
huggingface-hub